.gallery-area{
  width: 100vw;
  max-width: 100%;
}

.gallery-title {
  width: 100%;
  text-align: center;

  h2 {
    text-align: center;
    font-weight: normal;
    font-size: xx-large;
    color: #000;
  }

  p {
    text-align: center;
    width: 600px;
    margin: auto;
    color: rgb(141, 139, 136);
    font-family: system-ui;
  }
}

.gallery {
  display: flex;
  padding: 0px;
  width:100%;
  column-count: 3;
  max-width: 100%;
}

.colm{
  width: 33.33%;
  overflow: hidden;
}

.img-container {
  padding: 5px;
}

.newspaper {
  background-color: rgb(240, 244, 245);
  text-align: center;
  height: 350px;
  margin: 100px 0px;
}

.news-titile {
  padding: 50px;

  h2 {
    font-weight: normal;
    font-size: xx-large;
  }

  p {
    width: 600px;
    margin: auto;
    color: rgb(141, 139, 136);
    font-family: system-ui;
  }
}

.btn {
  border: 1px solid;
  border-radius: 0px;
  margin: 10px;
}